body {
  background-color: black;
}

h1 {
  color: magenta;
  margin-left: 73px;
  font-family: Ubuntu;
}
h2 {
  color: white;
  font-family: Ubuntu;
}
h3 {
  color: white;
  font-family: Ubuntu;
}
p {
  color: white;
  font-family: Ubuntu;
}
a { 
  background-color: white; 
}
