@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
h1 {
  color: magenta;
  font-family: Ubuntu;
}
h2 {
  font-family: Ubuntu;
}
h3 {
  font-family: Ubuntu;
}
p {
  font-family: Ubuntu;
}
li a {
  font-family: 'Ubuntu Mono', monospace;
}
.rainbow {
  text-align: center;
  text-decoration: underline;
  font-family: monospace;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}